<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279903216296-l0dkcmrk9r970v8ks03mi3m4ha5c2nf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279903216296-l0dkcmrk9r970v8ks03mi3m4ha5c2nf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBqk0aot62oySXI0G0HMnHxUExVjD_r2Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>279903216296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppFusion</string>
	<key>PROJECT_ID</key>
	<string>fusion-13772</string>
	<key>STORAGE_BUCKET</key>
	<string>fusion-13772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279903216296:ios:657123c1def07da37a989d</string>
</dict>
</plist>